<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Flight Delay</title>

  <!-- bootstrap  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@700&family=Ubuntu&display=swap" rel="stylesheet">

  <!-- my css  -->
  <link rel="stylesheet" href="/css/styles.css">

  <!-- font awesome -->

  <script src="https://kit.fontawesome.com/907ed664b0.js" crossorigin="anonymous"></script>


  <!-- nav bar - bootstrap -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <i class="fas fa-plane-departure icon"width="30" height="24" class="d-inline-block align-text-top"></i>
        Flight Delay
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="predict">Predict</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="recommend">Recommend</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="stats">Stats</a>
          </li>
      </div>
    </div>
  </nav>

</head>

<body>
  <div class="container">
